.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app > header {
  text-align: center;
  padding: 1.5em;
  font-size: 1.4rem;
  font-weight: bold;
  background: var(--bg-bluegradient-);
}

.app > main {
  background: var(--bg-greygradient-);
  border: solid;
  border-width: 5px 0px;
  overflow: auto;
}

.app > footer {
  text-align: center;
  padding: 1.3em;
  background: var(--bg-bluegradient-);
}
